<?xml version="1.0"?>
<launch>
	<group>
		<machine name="pc1" address="youbot-hbrs2-pc1" default="true"/>

        <!-- base components -->
    	<include file="$(find raw_bringup)/robots/robot.launch" />

		<!-- script server -->
		<include file="$(find raw_script_server)/launch/script_server.launch" />
	</group>

	<group>
	    <machine name="pc2" address="youbot-hbrs2-pc2" default="true"/>
        
        <!-- cameras -->
	    <include file="$(find raw_bringup)/components/cam3d.launch" />
  	    <include file="$(find raw_bringup)/components/usb_cam.launch" />
   	</group>
</launch>
