<?xml version="1.0"?>
<launch>
	<rosparam command="load" ns="/script_server/base_orientations" file="$(find raw_default_env_config)/$(env ROBOT_ENV)/navigation_orientations.yaml"/>

	<!-- base components -->
	<include file="$(find raw_bringup_sim)/robots/robot.launch" />

	<!-- navigation -->
	<include file="$(find raw_2dnav)/ros/launch/2dnav_sim.launch" />	

	<!-- script server -->
	<include file="$(find raw_script_server)/launch/script_server.launch" />
	
</launch>
