<?xml version="1.0"?>
<launch>
  
  <group ns="raw_object_perception">
    
    <!-- Dominant plane extractor node -->
    <node pkg="raw_scene_segmentation" type="dominant_plane_extractor_node" name="dominant_plane_extractor_node" output="screen" respawn="true">
      <param name="min_z" type="double" value="0.7" />
      <param name="max_z" type="double" value="1.5" />
    </node>

    <!-- Object finder node -->
    <node pkg="raw_object_tracking" name="object_finder_node" type="object_finder_node" output="screen" respawn="true">
      <param name="number_of_merges" type="int" value="25" />
      <param name="filter_min_points" type="int" value="140" />
      <param name="filter_min_height" type="double" value="0.01" />
    </node>
  
  </group>

</launch>
