<?xml version="1.0"?>
<launch>
	<param name="T" type="double" value="0.2"/>
	<param name="dt" type="double" value="0.1"/>

	<!-- navigation goals -->
	<include file="$(find raw_default_env_config)/upload_param.launch" />
    
    	<!-- visualize navigation goals -->
	<node pkg="raw_tools" type="navigation_goals_as_marker.py" name="raw_navigation_goals_as_marker"/>

	<arg name="map" default="$(find raw_default_env_config)/$(env ROBOT_ENV)/map.yaml" />

	<!--- Run map_server -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>

	<!-- Run AMCL -->
	<include file="$(find raw_2dnav_iros2012)/ros/launch/amcl.launch" />
	
	<node pkg="youbot_navigation_common" type="lowpass_filter" respawn="false" name="lowpass_filter" output="screen"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	        <rosparam file="$(find raw_2dnav_iros2012)/ros/config/move_base_params.yaml"  	command="load" />
		<rosparam file="$(find raw_2dnav_iros2012)/ros/config/costmap_common_params.yaml" 	command="load" ns="global_costmap" />
		<rosparam file="$(find raw_2dnav_iros2012)/ros/config/costmap_common_params.yaml" 	command="load" ns="local_costmap" />
		<rosparam file="$(find raw_2dnav_iros2012)/ros/config/local_costmap_params.yaml" 	command="load" />
		<rosparam file="$(find raw_2dnav_iros2012)/ros/config/global_costmap_params.yaml" 	command="load" />
		<rosparam file="$(find raw_2dnav_iros2012)/ros/config/tr/tr_local_planner_params.yaml" command="load" ns="TrajectoryPlannerROS" />
	</node>
</launch>
