<?xml version="1.0"?>
<launch>
	<param name="T" type="double" value="0.2"/>
	<param name="dt" type="double" value="0.1"/>
	
	<node pkg="youbot_navigation_common" type="lowpass_filter" respawn="false" name="lowpass_filter" output="screen"/>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="footprint_padding" value="0.01" />
    	<param name="controller_frequency" value="10.0" />
   	<param name="controller_patience" value="100.0" />
    	<param name="base_global_planner" value="SBPLLatticePlanner" />
    	<param name="SBPLLatticePlanner/primitive_filename" value="$(find youbot_navigation_sbpl)/ros/config/youbot.mprim" />
            <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
	    <rosparam file="$(find raw_2dnav_iros)/ros/config/move_base_params.yaml"  	command="load" />
	     <rosparam file="$(find raw_2dnav_iros)/ros/config/costmap_common_params.yaml" 	command="load" ns="global_costmap" />
	     <rosparam file="$(find raw_2dnav_iros)/ros/config/costmap_common_params.yaml" 	command="load" ns="local_costmap" />
	     <rosparam file="$(find raw_2dnav_iros)/ros/config/sim/local_costmap_params.yaml" 	command="load" />
	     <rosparam file="$(find raw_2dnav_iros)/ros/config/global_costmap_params.yaml" 	command="load" />
	     <rosparam file="$(find youbot_navigation_sbpl)/ros/launch/move_base/sbpl_global_params.yaml" command="load" />
   	     <rosparam file="$(find youbot_navigation_sbpl)/ros/launch/move_base/base_local_planner_params_close.yaml" command="load" />
	</node>
</launch>
